
.body{
    box-sizing: border-box ;
}

.contentpart{
   width: 98%; 
   
}

.carthead{
    margin-bottom: 30px;
}


.section1{
    margin-left: 90px;
    margin-top: 20px ;
    margin-bottom: 20px;
}

.removeCart{
    cursor: pointer;
    margin:5px 0px 0px 14px;
}

.details{
    font-size: 10px;
    
}

.placebtn{
    margin-bottom: 30px;
}

.home{
    cursor: pointer;
}

.number{
    width: 35px;
     height: 25px;
      background-color: white;
}

.minus{
    width: 30px;
     height: 30px;
}

.add{
    width: 30px;
     height: 30px;
}

.buttonpart{
    padding-left: 120px;
}


.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.section2{
    
        margin-left: 187px;
        margin-right: 415px;   
    
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }


////edit
  .address{
    width: 100%;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;
    margin-top: 13px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 30px;
    //background-color:deeppink;
}

.customDetails{
    width: 92%;
    height: 486px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;
    margin-top: 13px;
    font-size: 15px;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    
}


.textName{
    width: 54px;
    height: 16px;
    font:  12px;
    
}

::ng-deep .placewidth{
    display:flex;
    width: 251px;
    height: 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-bottom: 20px;
}

.fname{
    width:350px;
 
}

::ng-deep .addressWidth{  
    width: 560px;
    height: 0px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 2px;
}

.example-margin {
    margin: 0 50px;
}

.newAddress{
    width: 150px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #A03037;
    border-radius: 2px;
    opacity: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.continue{
    width: 151px;
    height: 35px;
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    display: flex;align-items: center; justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
}
.checkoutorder{
    width: 151px;
    height: 35px;
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    display: flex;align-items: center; justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
}

.checkoutOrder{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


@media (max-width: 1010px){
    .main{
        margin: 0px 59px 0px 68px;
    }

    .search {
        width: 450px;
    }

    .rightSection{
        margin-left: 18%;
    }

    .rightSection2{
        margin-left: 9%
    }

}
@media (max-width: 768px){
    .main{
        height: 100%;
        width:80%;
        margin: 5% 253px 5% 80px;
        //background-color: cyan;
        display: flex;
        flex-wrap: wrap;
    }
    .placeOrder{
        width: 40%;
        //background-color: dodgerblue;
    }
    .order{
        margin-left: 50px;
        cursor: pointer;
        //background-color: gold;
    }
    .customDetails{
        width: 90%;
        height: 486px;
    }
    ::ng-deep .placewidth{
        display:flex;
        width: 201px;
        height: 45px;
        
    }
    ::ng-deep .addressWidth{  
        width: 410px;
        height: 0px;
    }
}
@media (max-width: 425px){
    .customDetails{
        display: block;
        width: 100%;
        height: 606px;  
    }
    .main{
        margin-left: 10px;;
    }
    ::ng-deep .placewidth{
        display:block;
        width: 350px;
        height: 45px;
        
    }
    ::ng-deep .addressWidth{  
        display:block;
        width: 350px;
        height: 0px;
    }
    .main{
        display:block;
    }
    .firstrow{
        flex-wrap: wrap;    
    }
    .add{
        flex-wrap: wrap;  
    }
    .newAddress{
        display: none;
    }
    .continue{
        width: 111px;
        height: 35px;
        margin-top: -40px;;
        display: inline;
        float: right;
    }
    .checkoutOrder{
        width: 91px;
        height: 55px;
        margin-top: -60px;
        display: inline;
        margin-left:120px;
    }
    .location{
        display: inline;
        margin-left: 220px;
        height: 70px;
        margin-top:-160px;
    }
    .address{
        width:109%;
    }
    .order{
        margin-top: 120px;
        margin-left:200px;
    }
    .checkoutorder{
       
        margin-left:95px;
    }
    
}