.main {
    text-align: center;
    padding: 10px 0;
    }
    
    .text {
    justify-content: center;
    font-size: 16px;
    }
     
    table {
    margin-left: auto;
    margin-right: auto;
    //border: black;
    border: blue;
    } 
    
    
    
    .table {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 15px;
    min-width: 800px;
    border: 1px solid #dbd8d8;
    }
  
    
    td {
    padding: 5px 8px;
    border: 1px solid #dbd8d8;
    }
    
    @media screen and (min-width: 411px) {
    .table {
        table-layout: auto;
        width: 900px;
        min-width: 1px;
    }
    .text {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    }
