<app-header ></app-header>
<div class="main" fxLayoutAlign="center center" fxLayout="column" >
    <img src="../../../assets/order/placeOrder.png" class="img" fxLayoutAlign="center center"/>
    <p class="text" style="margin-top: -10px;">
      hurray!!!your order is confirmed<br />the order id is #123456 save order id
      for <br />futher communication
    </p>
    <table style="width: 60% " class="table"  >
      <tr style="height: 40px">
        <th>email us</th>
        <th>contact us</th>
        <th>address</th>
      </tr>
      <tr >
        <td fxLayoutAlign="center center">admin@bookstore.com</td>
        <td >91 8712334477</td>
        <td>
          42,14th main,14th cross road<br />
          opposite kumarakom resturant,<br />Banglore,Karnataka
        </td>
      </tr>
    </table>
    <br>
    <button class="button" (click)="continue()" mat-stroked-button  style="background-color:#3371B5; color:#FFFFFF;">
      Continue Shopping
    </button>
    </div>
    <br>
<app-footer ></app-footer>