

.image{
  width: 31px;
  height: 36px;
}

.searchIcon {
     border-radius: 8px;
     width: 550px;
     margin-left: 6%;
     outline: none;
   border: 1px solid #f1f3f4;
    background-color: #f1f3f4;
  }
  
   .search-icon,
   .searchInput {
    border: 0px;
    background-color: #f1f3f4;
  }

  .headerbtn {
    color:#FCFCFC;
    cursor: pointer;
  
}
  
  
  .search-icon,
  .searchInput:focus {
    outline: none;
   }
    