.main{
  width: 389px;
  height: 425px;

}

.email-id{
  width: 252px;
height: 35px;
}

.password{
  width: 252px;
  height: 35px;
}
  
.fhead{
 
  cursor: pointer;
}
 
.fbutton{
  width: 126px;
  height: 37px;
}

.gbutton{
  width: 126px;
  height: 37px;
}
 



   