
.body{
    width: 389px;
    height: 425px;
  
}

.full_name{
    width: 252px;
    height: 35px;
}

.emailhead{
    margin-top: 20px; 
}
.email{
   
    width: 252px;
    height: 35px;
}

.pass{
    margin-top: 20px;

}

.password{
    width: 252px;
    height: 35px;
}

.mob{
    margin-top: 65px;
}

.mobile{
    width: 252px;
    height: 35px;
}

.button{
    width: 252px;
    height: 37px;
}

