
        <form class="container" [formGroup]="signupForm" >
    
            <div class="section1" fxLayout="column" >
                <mat-label>Full Name</mat-label>
                <mat-form-field appearance="outline" class="full_name" style="width: 8cm; "> 
                    <input matInput formControlName="fullName" placeholder="Full name">
                    <mat-error>Full name Is Required !</mat-error>
                </mat-form-field>    
            </div>

            <div class="Section2" fxLayout="column" >
                <mat-label>Email id</mat-label>
                <mat-form-field appearance="outline" class="email"  style="width: 8cm; ">
                    
                    <input matInput formControlName="email" placeholder="Email id">
                  
                    <mat-error>Email Required</mat-error>
                </mat-form-field>
            </div>

            <div class="password" fxLayout="column" >
                <mat-label>Password</mat-label>
                <mat-form-field appearance="outline" class="Password" style="width: 8cm; ">
                   
                    <input type="password" matInput formControlName="password" placeholder="Password">
                    <mat-error>Password required !</mat-error>
                </mat-form-field>
            </div>
            <div class="section4" fxLayout="column" >
                <mat-label>Mobile Number</mat-label>
                <mat-form-field appearance="outline" class="mobile" style="width: 8cm; ">
                    
                    <input  matInput formControlName="mobileNumber" placeholder="Mobile Number">
                    <mat-error>Mobile number required !</mat-error>
                </mat-form-field>

            </div>
           
            <div class="button" >
                <button type="submit" (click)="onSubmit()" class="button" mat-flat-button color="warn" style="width: 8cm;">Signup</button>
            </div>            
    
        </form>    
