/*.main {
    padding: 1cm 0cm 1.5cm 0cm;
    //   border:rgb(223, 226, 10) 2px solid;

}

.mainBody {
    padding: 1cm 0cm 1cm 0cm;
    border: rgba(128, 128, 128, 0.699) 0.1px solid;
    border-radius: 10px;
}*/

.container {
    padding: 0cm;
    //  border:rgb(223, 226, 10) 2px solid;

}