   
<div class="logindisplay" fxLayoutAlign="center center">
    <div class="imageBox">
        <div>
        <img src="../../../assets/book online.png">
        <h2 class="heading" >ONLINE BOOK SHOPPING</h2>
    </div>
    </div>

    <div class="loginBox">                
<mat-tab-group mat-align-tabs="center" class="box" >
    <mat-tab  label="LOGIN"><app-login></app-login></mat-tab>
    <mat-tab label="SIGNUP"><app-sign-up></app-sign-up></mat-tab>
   
  </mat-tab-group>
       
      
    </div>
</div>