.wishhead{
 font-size: 12px;
}
 .section1{
     font-size: 15px;
    margin-left:117px;
    margin-top: 19px;
    margin-bottom: 19px;
 }

 .deletebutton{
     cursor: pointer;
 }

 .contentpart{
    margin-left:117px;
    margin-top: 19px;
    margin-right: 55px;
    margin-bottom: 250px;
 }

 .home{
     cursor: pointer;
 }