<div class="main">
    <div class="middleHead" fxLayout="row">
        <div class="bookTxt" >
            Books 
           
        </div>
        <!-- <div class="sort" >
            <button  mat-stroked-button [matMenuTriggerFor]="menu">Sort by relevance</button>
                <mat-menu #menu="matMenu">
                   
                </mat-menu>
        </div> -->
    </div>
    </div>
        
        <div class="container" fxLayout="row wrap" fxLayoutGap="60px">
            <mat-card *ngFor="let book of booksArray" class="item1">
                <mat-card-content class="bookhead" >
                   
                    <img fxLayout="center center" routerLink="/bookpage" src="../../../assets/dashboard/component (1).png">
                </mat-card-content>


                 <mat-card-content class="details">
                     <mat-card-title>
                        {{book.bookName}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        by {{book.author}}
                    </mat-card-subtitle>
                    <p>
                        <button mat-raised-button  color="primary"  class="starbtn">
                           <span>4.5     &#9733;</span> 
                        </button>({{book.quantity}})
                    </p>
                    <h2 fxLayoutGap="8px"><b>Rs {{book.price}}</b><del>Rs. 3000</del>
                    </h2> 
                </mat-card-content>


                <div class="addwish">
                    <button class="add" (click)="cart(book)" mat-raised-button routerLink="/addcart">add to bag</button>
                    <button class="wish" (click)="wishlist(book)" mat-raised-button  routerLink="/wishlist" >wishlist</button>
                </div> 
            </mat-card>
        
        </div>
        <mat-paginator [length]="22"
[pageSize]="8"
aria-label="Select page">
</mat-paginator>