.main {
    
    padding: 1cm 0cm 1cm 0cm;
   
    //   border:rgb(223, 226, 10) 2px solid;
  
  }
  
  .mainBody {
    /*height: 60% ;
    width: 40%;*/
    padding: 1cm 0cm 1cm 0cm;
    border: rgba(128, 128, 128, 0.699) 0.1px solid;
    border-radius: 10px;
  }
  
  .container {
    padding: 1cm;
    //  border:rgb(223, 226, 10) 2px solid;
  
  }

 .logo{
     font-size: 20px;
 } 